body {
  margin: 0;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 150px auto;
  background-color: #e9ecef;
}
header {
  padding: 0 20px 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100vw;
  background-color: white;
  z-index: 10000;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding: 80px 70px 0 70px;

  // padding: 100px;
  .head-catalog {
    align-self: flex-start;
  }
}
